=wrap()
    min-height: 100vh
    background-color: #191A1E
    color: white
    text-align: center

=loginPageLogo($source, $rotate)
    background-image: url($source)
    width: 20%
    height: 80%
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    transform: rotate($rotate)

=loginPageCredentals($left)
    position: absolute
    top: 0
    left: $left
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100vw
    height: calc( 100vh - 200px )
    transition: .4s

=loginPageInput($borderColor)
    height: 50px
    width: 70%
    flex-shrink: 0
    background-color: #575a63
    border: 2px solid $borderColor
    border-radius: 20px

=loginPageButton($bgc)
    margin-top: 40px 
    background-color: $bgc
    border: none
    font-size: 32px
    border-radius: 25px
    width: 45%
    height: 40px
=inputReset($width, $fontSize)
    display: flex
    justify-content: center
    align-items: center
    width: $width
    height: 100%
    font-size: $fontSize
    background-color: transparent
    border: none
    text-align: center
    color: #000

=center()
    display: flex
    justify-content: center
    align-items: center
