=wrap()
    min-height: 100vh
    background-color: #0C0C0D
    color: #fff

=mainLoginPage($margin)
    margin-top: $margin
    text-align: center
    color: #fff

=titleLoginPage($fontSize)
    font-weight: normal
    font-size: $fontSize
    
=sectionLoginPage($width, $margin)
    width: $width
    margin: $margin auto

=h2LoginPage($fontSize, $margin)
    font-weight: normal
    font-size: $fontSize
    margin: 0 $margin 0 0
    text-align: left

=inputLoginPage($height, $fontSize, $margin)
    display: block
    height: $height
    width: 100%
    font-size: $fontSize
    margin: $margin 0
    background-color: #3F3F41
    border: 3px solid #810000
    border-radius: 15px
    text-align: center
    color: #fff

=btn($height, $width, $fontSize)
    display: block
    height: $height
    width: $width
    margin: 0 auto 
    border: none
    border-radius: 30px
    background-color: #810000
    font-size: $fontSize
    color: #000

=divBackground()
    background: #3F3F41
    border: 2px solid #810000
    border-radius: 25px

=inputMain($height)
    display: block
    height: $height
    margin: 0 auto
    background-color: transparent
    border: none
    text-align: center
    color: #fff

=titles($fontSize)
    font-size: $fontSize
    color: #CC0000
    font-weight: normal
    margin: 10px 0
