@import '../../sass/_mixins', '../../sass/_variables'

.nav
    position: relative
    height: 50px

.nav__ul
    +center()
    width: 100%
    height: 100%
    list-style: none

.nav__li
    +center()
    width: 50%
    height: 100%
        
.nav__a
    +center()
    flex-grow: 1
    height: 100%
    text-decoration: none
    color: #000
    font-size: 32px
    &--MainPage
        color: #810000
    .nav__li:nth-of-type(2) &--MainPage
        color: #EBFF00
    &--ProfilePage
        color: #4AA611
    .nav__li:nth-of-type(2) &--ProfilePage
        color: #1194A6
    &--HomePage
        color: #D05814
    .nav__li:nth-of-type(2) &--HomePage
        color: #24F7C4

.nav__horizontalLine
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: 2px
    &--MainPage
        background-image: linear-gradient(to right, #810000, #810000, #EBFF00, #EBFF00)
    &--ProfilePage
        background-image: linear-gradient(to right, #4AA611, #4AA611, #1194A6, #1194A6)
    &--HomePage
        background-image: linear-gradient(to right, #D05814, #D05814, #24F7C4, #24F7C4)

.nav__verticalLine
    position: absolute
    left: 50%
    top: 50%
    width: 2px
    height: 32px
    transform: translate(-50%,-50%)
    &--MainPage
        background-color: #B57E00
    &--ProfilePage
        background-color: #2D9C5D
    &--HomePage
        background-color: #7AA76C

